# 排除更新后的前端
frontend-resume/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/

# Node.js
node_modules/
npm-debug.log*
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
